body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.card {
    margin: 1em;
    width: 400px;
    max-width: 100%;
    min-width: 300px;
    border-radius: 7px;
}

.card-one {
  border-top: 7px solid hsl(180, 62%, 55%);
}

.card-two {
  border-top: 7px solid hsl(0, 78%, 62%);;
}

.card-three {
  border-top: 7px solid hsl(34, 97%, 64%)
}

.card-four {
  border-top: 7px solid hsl(212, 86%, 64%)
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.subtitle-header{
  font-weight: 200;
}

.title-header {
  font-weight: 600;
}

/* @media screen and (min-width: 1440px) {
  
} */

@media screen and (max-width: 768px) {
  .card-section {
    flex-direction: column;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
